@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p role="status">Current count: @currentCount</p>
<p role="status">Database size: @App.Msg</p>

@code
{
    [Inject]
    IApp App { get; set; } = default!;

    private int currentCount = 0;

    private void IncrementCount()
    {
        using var box = App.Auto.Cube();
        var record = box["Table", 0L].Replace<Record>();
        record.Value++;
        box.Commit();
        currentCount = record.Value;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IncrementCount();
    }
}
